/*
/* CONTACT US
/*-----------------------------------------------------*/

#contact-page {}

a.map {
	display: block;
	margin-bottom: 1.0em;

	img {
		display: block;
		width: 100%;
		height: auto;
	}

}

.address, .phones {
	margin-bottom: 1.0em;
}

#contactForm {

	input[type=text],
	input[type=email],
	select,
	textarea {
		width: 100%;
	}

	textarea {
		height: 126px;
	}

}


@import "contact-mq";

