/*
/* CUSTOMERS
/*-----------------------------------------------------*/


@include respond-to(small) {


}


// @include respond-to(medium) {


// }


@include respond-to(large) {


}


// @include respond-to(xlarge) {


// }


@include respond-to(xxlarge) {

	.client-logos {
		width: 1000px;
		height: 840px;
		background: transparent url('#{$image-path}/customers/client-logos.png') no-repeat 0 0;
		@include hide-text;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		
			> li {
				float: left;
				width: 200px;
				height: 100px;
				margin: 0 0 40px 0;
				padding: 20px;
				text-align: center;
				@include prefix(box-sizing, border-box);
			}

		}

	}

}

