/*
/* RESET / NORMALIZE / REBUILD
/*-----------------------------------------------------*/


@include respond-to(small) {

	h1 {
		font-size: 48px;
		line-height: 48px;
	}
	h2 {
		font-size: 28px;
		line-height: 28px;
		margin: 0 0 14px 0;
	}
	h2.bordered {
		margin: 0 0 28px 0;
		padding: 0 0 14px 0;
	}
		h2.bordered:after {
			width: 32px;
		}
	h3 {
		font-size: 1.0em;
		line-height: 1.0em;
	}

}


@include respond-to(large) {

	h1 {
		font-size: 60px;
		line-height: 60px;
		letter-spacing: -2px;
	}
	h2 {
		font-size: 32px;
		line-height: 32px;
		margin-bottom: 16px;
	}
	h2.bordered {
		margin: 0 0 64px 0;
		padding: 0 0 16px 0;
	}
		h2.bordered:after {
			width: 40px;
		}
	h3 {
		font-size: 16px;
		line-height: 16px;
	}

}


@include respond-to(xxlarge) {

	p.intro-copy {
		width: 90%;
		font-size: 1.3em;
	}

	h1 {
		font-size: 72px;
		line-height: 72px;
	}
	h2 {
		font-size: 36px;
		line-height: 36px;
		margin: 0 0 18px 0;
	}
	h2.bordered {
		margin: 0 0 72px 0;
		padding: 0 0 18px 0;
	}
		h2.bordered:after {
			width: 46px;
		}
	h3 {
		font-size: 18px;
		line-height: 18px;
	}

}

