/*
/* CHROME
/*-----------------------------------------------------*/


#breakpoint-indicator {
	width: 1px;
	height: 1px;
	position: absolute;
	left: -1px;
	top: -1px;
	z-index: 1;
}


@include respond-to(small) {

	#wrapper {
		min-width: 480px;
	}
	#header .header-inner,
	#footer .footer-inner {
		width: 480px;
	}

}


@include respond-to(medium) {
	#breakpoint-indicator {
		z-index: 2;
	}
}


@include respond-to(large) {

	#wrapper {
		min-width: 720px;
		&.menu-active {
			@include prefix(transform, translate3d(320px, 0px, 0px));
		}
	}

	#header .header-inner,
	#footer .footer-inner {
		width: 720px;
	}

}


@include respond-to(xlarge) {
	#breakpoint-indicator {
		z-index: 3;
	}
}


@include respond-to(xxlarge) {

	#wrapper {
		min-width: 1000px;
	}

	#header .header-inner {
		width: 1000px;
		height: 120px;
		padding: 72px 0 0 0;

		.icon-menu {
			left: 0px;
			top: 82px;
		}

		.logo-WordFly {
			left: 64px;
			top: 74px;
		}

	}

	#footer .footer-inner {
		width: 1000px;
		height: 120px;
		padding: 20px 0 0 0;

		.col-top-left {
			float: left;
			width: 50%;
		}

		.col-bot-right {
			float: right;
			width: 50%;
			text-align: right;
		}

		.icon-WordFly {
			margin-right: 8px;
		}

	}

}

