/*
/* CHROME
/*-----------------------------------------------------*/

html, body {
	height: 100%;
	min-height: 100%;
}

#wrapper {
	width: 100%;
	min-width: 320px;
	min-height: 100%;
	background: #fff;
	position: relative;
	-webkit-transition: -webkit-transform .4s;
	-moz-transition: -moz-transform .4s;
	-ms-transition: -ms-transform .4s;
	-o-transition: -o-transform .4s;
	transition: transform .4s;

	&.menu-active {
		@include prefix(transform, translate3d(280px, 0px, 0px));
	}

}



/**
*	header
**/

#header {
	width: 100%;
	position: absolute;
	z-index: 3;

	.header-inner {
		width: 320px;
		height: 60px;
		margin: 0 auto;
		padding: 20px 20px 0 20px;
		position: relative;
		@include clearfix;
		@include prefix(box-sizing, border-box);

		.icon-menu {
			position: absolute;
			left: 20px;
			top: 30px;
		}

		.logo-WordFly {
			position: absolute;
			left: 64px;
			top: 30px;
		}

		.utility-nav {
			float: right;

			.btn {
				margin-right: 10px;
			}

			.sign-in {
				color: $link-color-alt;
				font-family: $font-alt;
				font-size: 18px;
				line-height: 18px;
				&:hover,
				&:focus,
				&.current {
					color: #a0d0f1;
					text-decoration: none;
				}		
			}

		}

	}

}

/*** /header ***/


/**
*	footer
**/

#footer {
	width: 100%;
	background: #fff;
	position: relative;
	z-index: 2;

	.footer-inner {
		width: 320px;
		height: 140px;
		margin: 0 auto;
		padding: 20px;
		position: relative;
		@include clearfix;
		@include prefix(box-sizing, border-box);

		.share-nav {
			margin-bottom: 4px;
			.social-btn,
			.social-btn-alt {
				margin-right: 8px;
			}
		}

		p {
			font-size: 11px;
			line-height: 14px;
			margin: 8px 0 0 0;
		}

	}

}

/*** /footer ***/


/**
*	content
**/

#content {
	width: 100%;
	position: relative;
	z-index: 1;

	.content-section {
		width: 100%;
		background: #fff;

		.content-inner {
			width: 320px;
			margin: 0 auto;
			padding: 32px 20px;
			position: relative;
			@include clearfix;
			@include prefix(box-sizing, border-box);

			&.bordered {
				border-bottom: 2px solid #3e749a;
			}

		}

		.col-half-left,
		.col-half-right {
			@include prefix(box-sizing, border-box);
		}

		&.banner, &.banner-tall {
			background: #3e749a url('#{$image-path}/global/bg-banner-mobi-tl.png') no-repeat 0 0;
			@include prefix(box-shadow, '0 0 80px rgba(0,0,0,0.4) inset');
			.content-inner {
				height: 222px;
				padding-top: 80px;
				text-align: center;

				h1 {
					color: $text-titles;
					margin: 0 auto;
				}

			}

		}

		&.banner-tall {
			.content-inner {
				height: 320px;
			}
		}

		&.intro {

			.content-inner {
				text-align: center;
				padding-top: 80px;

				h2 {
					color: $text-headers-alt;
				}

			}

		}

		&.alt {
			background-color: #f7f5f1;
		}

		&.callout {
			background: #3e749a url('#{$image-path}/global/bg-callout-mobi-tl.png') no-repeat 0 0;
			@include prefix(box-shadow, '0 0 80px rgba(0,0,0,0.4) inset');
			// background: #32638a; /* Old browsers */
			// background: -webkit-linear-gradient(left,  #32638a 0%,#3e749a 30%,#3e749a 70%,#32638a 100%); /* Chrome10+,Safari5.1+ */
			// background: -moz-linear-gradient(left,  #32638a 0%, #3e749a 30%, #3e749a 70%, #32638a 100%); /* FF3.6+ */
			// background: -ms-linear-gradient(left,  #32638a 0%,#3e749a 30%,#3e749a 70%,#32638a 100%); /* IE10+ */
			// background: -o-linear-gradient(left,  #32638a 0%,#3e749a 30%,#3e749a 70%,#32638a 100%); /* Opera 11.10+ */
			// background: linear-gradient(to right,  #32638a 0%,#3e749a 30%,#3e749a 70%,#32638a 100%); /* W3C */
			.content-inner {
				text-align: center;

				h2 {
					color: $text-secondary;
					font-size: 28px;
				}

				p {
					color: $text-secondary;
				}

			}

		}

	}

}

/*** /content ***/


@import "chrome-mq";

@import "menu";
