/*
/* MENU
/*-----------------------------------------------------*/

#menu {
	width: 280px;
	height: 100%;
	padding: 24px;
	position: absolute;
	left: 0;
	top: 0;
	background: #547a96; /* Old browsers */
	background: -webkit-linear-gradient(top,  #547a96 0%,#426076 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top,  #547a96 0%, #426076 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top,  #547a96 0%,#426076 100%); /* IE10+ */
	background: -o-linear-gradient(top,  #547a96 0%,#426076 100%); /* Opera 11.10+ */
	background: linear-gradient(to bottom,  #547a96 0%,#426076 100%); /* W3C */
	@include prefix(box-shadow, '20px 20px 160px rgba(0,0,0,0.4) inset');
	@include prefix(box-sizing, border-box);

	a {
		color: #fff;
	}
	a:hover,
	a:focus,
	a.current {
		color: #a0d0f1;
		text-decoration: none;
	}

	ul, li {
		list-style: none;
		font-family: $font-alt;
		margin: 0;
		padding: 0;
	}

	.icon-closeX {
		position: absolute;
		right: 20px;
		top: 20px;
	}

	.main-nav {
		font-size: 24px;
		line-height: 24px;
		text-transform: uppercase;
		border-bottom: 2px solid #3b566d;
		margin-bottom: 36px;
		padding-bottom: 36px;

		> li:not(:first-child) {
			margin-top: 12px;
		}

	}

	.sub-nav {
		font-size: 18px;
		line-height: 18px;
		border-bottom: 2px solid #3b566d;
		margin-bottom: 30px;
		padding-bottom: 30px;

		> li:not(:first-child) {
			margin-top: 12px;
		}

	}

	.social-nav {
		font-size: 18px;
		font-weight: bold;
		line-height: 18px;
		border-bottom: 2px solid #3b566d;
		margin-bottom: 30px;
		padding-bottom: 30px;

		> li {
			display: inline-block;
		}

		> li:not(:first-child) {
			margin-left: 8px;
		}

	}

	#SubscribeForm {

		label {
			display: block;
			color: #a0d0f1;
			font-family: $font-alt;
			font-size: 13px;
			font-weight: normal;
			margin-bottom: 0.5em;
		}

		input[type=email] {
			color: #fff;
			font-size: 12px;
			width: 100%;
			height: 26px;
			background-color: #3e5b71;
		}

		::-webkit-input-placeholder {
			color: #fff;
		}
		::-moz-placeholder {
			color: #fff;
		}
		:-ms-input-placeholder {
			color: #fff;
		}
		::input-placeholder {
			color: #fff;
		}

	}

}

// #menu.active {
// 	z-index: 9;
// }


@include respond-to(large) {

	#menu {
		width: 320px;
		height: 100%;
		padding: 72px 50px 24px 50px;
		position: fixed;

		.icon-closeX {
			right: 20px;
			top: 20px;
		}

	}

}

