<div class="thankyou-message">
	<h3>Thank you for sending us a message!</h3>
	<p>You will be hearing from us very soon. While we are working on a response, you might be interested in learning more about the <a href="/features">Features</a> in WordFly or take a moment to see what we are thinking about on our <a href="/blog">Blog</a>.</p>
</div>