<nav id="menu">

	<a id="close-menu" class="icon-closeX" href="#" title="close navigation menu">close</a>

	<ul class="main-nav">
		<li><a href="/">Home</a></li>
		<li><a href="/tour">Tour</a></li>
		<li><a href="/features">Features</a></li>
		<li><a href="/pricing">Pricing</a></li>
		<li><a href="/integrations">Integrations</a></li>
		<li><a href="/customers">Customers</a></li>
	</ul>

	<ul class="sub-nav">
		<li><a href="/customer-service">Customer Service</a></li>
		<li><a href="/about-us">About Us</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/contact-us">Report Abuse</a></li>
		<li><a href="/terms-of-use">Terms of Use</a></li>
		<li><a href="/acceptable-use">Acceptable Use</a></li>
		<li><a href="/privacy-policy">Privacy Policy</a></li>
		<li><a href="/contact-us">Contact Us</a></li>
	</ul>

	<ul class="social-nav">
		<li><a class="social-btn btn-twitter" href="https://twitter.com/WordFly" target="_blank">WordFly on Twitter</a></li>
		<li><a class="social-btn btn-facebook" href="http://www.facebook.com/WordFly" target="_blank">WordFly on Facebook</a></li>
		<li><a class="social-btn btn-apple" href="https://itunes.apple.com/us/app/wordfly/id667780390?ls=1&mt=8" target="_blank">WordFly iPhone App</a></li>
		<li><a class="social-btn btn-android" href=" https://play.google.com/store/apps/details?id=com.wordfly.android" target="_blank">WordFly Android App</a></li>
	</ul>

	<form id="newsletterForm" name="newsletterForm" method="POST"
		action="https://tracking.wordfly.com/subscribe/">
		<fieldset>
			<input type="hidden" id="fNewsletterRequest" name="fNewsletterRequest" value="true" />
			<!-- WordFly Organization Guid for "Wordfly" -->
			<input type="hidden" id="wf_o" name="wf_o" value="B4A4EF01-CADF-DC11-9CF3-005056BA0A05" />
			<!-- WordFly List Guid for "WordFly.com Sign-ups" -->
			<input type="hidden" id="wf_l" name="wf_l" value="2D198CD7-B993-E111-AA52-E41F1345A46A" />

			<label for="wf_e">Subscribe to Our Newsletter</label>
			<input type="email" id="wf_e" name="wf_e" placeholder="Email Address" required />

			<input type="submit" id="wf_s" name="wf_s" value="Join" />

		</fieldset>
	</form>

</nav>