<nav id="menu">

	<a id="close-menu" class="icon-closeX" href="#">close</a>

	<ul class="main-nav">
		<li><a href="/">Home</a></li>
		<li><a href="#">Tour</a></li>
		<li><a href="/features">Feature Index</a></li>
		<li><a href="#">Pricing</a></li>
		<li><a href="#">Integrations</a></li>
		<li><a href="#">Customers</a></li>
	</ul>

	<ul class="sub-nav">
		<li><a href="#">Customer Service</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Report Abuse</a></li>
		<li><a href="#">Terms of Use</a></li>
		<li><a href="#">Acceptable Use</a></li>
		<li><a href="#">Privacy Policy</a></li>
		<li><a href="#">Contact Us</a></li>
	</ul>

	<ul class="social-nav">
		<li><a class="social-btn btn-twitter" href="#">Twitter</a></li>
		<li><a class="social-btn btn-facebook" href="#">Facebook</a></li>
		<li><a class="social-btn btn-apple" href="#">Apple</a></li>
		<li><a class="social-btn btn-android" href="#">Android</a></li>
	</ul>

	<form id="SubscribeForm" method="POST" action="#">
		<fieldset>
			<label for="EmailAddress">Subscribe to Our Newsletter</label>
			<input type="email" id="EmailAddress" name="EmailAddress" placeholder="Email Address" required />
		</fieldset>
	</form>

</nav>